body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(25, 25, 25);
    box-sizing: border-box;
    
}
.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    background-color: rgb(85, 203, 195);
    padding: 5px;
    border: 3px solid black;
}
.buttons{
    display: flex;
}
.nums{
    display: flex;
    flex-direction: column;
    width: 235px;
}
button{
    width: 75px;
    height: 75px;
    font-size: 22px;
}
.zero{
    width: 234px;
}
.number0{
    width: 234px;
    height: 80px;
}
.screen{
    background-color: rgba(219, 219, 219, 0.853);
    margin: 5px;
    padding-right: 100px;
}
.display{
    display: flex;
    box-sizing: border-box;
    padding: 10px;
}
.op{
    display: flex;
    flex-direction: column;
}
.screen{
    width: 210px;
    height: 40px;
}
.operator{
    height: 50px;
}
.equals{
    height: 55px;
}
